---
import BaseLayout from "../layouts/BaseLayout.astro";


let title = "Home";
---
<BaseLayout title = {title}>
<p>Home - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto maxime consequatur possimus, soluta nemo amet quisquam neque perferendis eius eum, laboriosam sunt ipsa laborum. Quis quae in eaque qui minima.</p>

</BaseLayout>
